<a href="https://colab.research.google.com/github/leejj123/bio/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#for 반복 (range함수)
for i in range(0,3,1):
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [4]:
#(0,5,1)은 (5)와 결과가 같다
for i in range(0,5,1):
  print("반복")

반복
반복
반복
반복
반복

In [5]:
for i in range(5):
  print("반복")

반복
반복
반복
반복
반복

In [8]:
for i in range(0,10,2):
  print(f'{i} 반복')

0 반복
2 반복
4 반복
6 반복
8 반복

In [9]:
#range()함수를 이용해 정수나열 리스트 만들기
print(list(range(2,10,3)))

[2, 5, 8]

In [10]:
for i in [0,1,2]:
  print("반복")

반복
반복
반복

In [12]:
#i를 사용하지 않으려면 _(언더바) 사용가능
for _ in range(0,3,1):
  print("반복")

반복
반복
반복

In [13]:
for 번호 in 'student' :
  print(f'{번호} 파이썬 예제')

s 파이썬 예제
t 파이썬 예제
u 파이썬 예제
d 파이썬 예제
e 파이썬 예제
n 파이썬 예제
t 파이썬 예제

In [14]:
#변수를 지정하지 않을떄
for _ in 'student':
  print('파이썬 예제')

파이썬 예제
파이썬 예제
파이썬 예제
파이썬 예제
파이썬 예제
파이썬 예제
파이썬 예제

합계구하기 range

In [16]:
#1+2+3+4+5+6+7+8+9+10 합계 예시
hap=0
for i in range(1,11,1):
  hap=hap + i
print(f'1부터 10까지의합:{hap} ')

1부터 10까지의합:55

In [20]:
hap=0
for i in range(1,101,1):
    hap=hap + i
print(f'1부터 100까지의합:{hap}')

1부터 100까지의합:5050

In [22]:
#합계 리스트
a=[1,44,54,23,66,73,25,14,19,98]
hap=0
for i in a:
  hap=hap+i
print(f'리스트 {a}의 합은{hap}')
sum(a)

리스트 [1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의 합은417

417

In [26]:
## max,min
a=[1,44,54,23,66,73,25,14,19,98]
print(f'리스트 {a}의가장 큰 수는 {max(a)} ')
print(f'리스트 {a}의가장 작은 수는 {min(a)}')
print(f'리스트 {a}의 갯수는 {len(a)}')

리스트 [1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의가장 큰 수는 98
리스트 [1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의가장 작은 수는 1
리스트 [1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의 갯수는 10

In [32]:
#평균 구하기
a=[1,44,54,23,66,73,25,14,19,98]
sum(a) / len(a)
print(f' 리스트{a}의 평균값은 {sum(a)/len(a)}')
print(f' 리스트{a}의 평균값은 {sum(a)}/{len(a)}')

 리스트[1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의 평균값은 41.7
 리스트[1, 44, 54, 23, 66, 73, 25, 14, 19, 98]의 평균값은 417/10

In [39]:
n = int(input('합계를 구할 숫자 입력: '))
print(f"1부터 {n}까지의 합은 {sum(list(range(1,n+1)))}")

합계를 구할 숫자 입력: 10
1부터 10까지의 합은 55

In [40]:
#1+n까지 합 구하기, 짝수 제외

n=int(input('합계를 구할 숫자:'))
hap = 0
for i in range(1,n+1,2):
  hap = hap+i
print(f'1~{n}까지 짝수를 제외한 정수의 합은:{hap}')

합계를 구할 숫자:100
1~100까지 짝수를 제외한 정수의 합은:2500

In [44]:
a_list = list(input('괄호를 입력하세요 :'))
a = 0
for _ in a_list:
    if _ == '(':
        a += 1
    elif _ == ')':
        a -= 1
if a_list[0] == '(' and a_list[-1] == ')' and a == 0:
    print('결과 : True')
else:
    print('결과 : False')

괄호를 입력하세요 :()()()()())
결과 : False

In [45]:
a_list = list(input('괄호: '))
print(a_list)
t = 0

for i in range(1, len(a_list)+1):
  if t >= 0:
    if a_list[i-1] == '(':
      t += 1
    elif a_list[i-1] == ')':
      t -= 1

if t == 0:
  print('결과: True')
else:
  print('결과: False')

괄호: (())
['(', '(', ')', ')']
결과: True

In [53]:
n=int(input('구구단 단중 몇단을 출력 해드릴까요?:'))
for i in range(1,10,):
  print(f'{n} X {i} = {n*i:>2}')

구구단 단중 몇단을 출력 해드릴까요?:7
7 X 1 =  7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [54]:
n=int(input('구구단 단중 몇단을 출력 해드릴까요?:'))
for i in range(1,10,):
  print(f'{n} X {i} = {n*i:>2}')

구구단 단중 몇단을 출력 해드릴까요?:3
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [56]:
for i in range(2,10):
    for j in range(1,10):
        print(i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [61]:
#구구단을 세로로 출력하기
for i in range(1,10): # i를 1부터 9까지 받아와서 반복함
    for j in range(1,10):  # j를 1부터 9까지 받아와서 반복함
        print('{}x{}='.format(i,j),i*j) # 구구단을 프린트하는 구문

1x1= 1
1x2= 2
1x3= 3
1x4= 4
1x5= 5
1x6= 6
1x7= 7
1x8= 8
1x9= 9
2x1= 2
2x2= 4
2x3= 6
2x4= 8
2x5= 10
2x6= 12
2x7= 14
2x8= 16
2x9= 18
3x1= 3
3x2= 6
3x3= 9
3x4= 12
3x5= 15
3x6= 18
3x7= 21
3x8= 24
3x9= 27
4x1= 4
4x2= 8
4x3= 12
4x4= 16
4x5= 20
4x6= 24
4x7= 28
4x8= 32
4x9= 36
5x1= 5
5x2= 10
5x3= 15
5x4= 20
5x5= 25
5x6= 30
5x7= 35
5x8= 40
5x9= 45
6x1= 6
6x2= 12
6x3= 18
6x4= 24
6x5= 30
6x6= 36
6x7= 42
6x8= 48
6x9= 54
7x1= 7
7x2= 14
7x3= 21
7x4= 28
7x5= 35
7x6= 42
7x7= 49
7x8= 56
7x9= 63
8x1= 8
8x2= 16
8x3= 24
8x4= 32
8x5= 40
8x6= 48
8x7= 56
8x8= 64
8x9= 72
9x1= 9
9x2= 18
9x3= 27
9x4= 36
9x5= 45
9x6= 54
9x7= 63
9x8= 72
9x9= 81

In [64]:
for i in range(1,10):
  for k in range(2,10):
    print(f'{k} x {i} = {i*k:>2}', end=', ')
  print()

2 x 1 =  2, 3 x 1 =  3, 4 x 1 =  4, 5 x 1 =  5, 6 x 1 =  6, 7 x 1 =  7, 8 x 1 =  8, 9 x 1 =  9,
2 x 2 =  4, 3 x 2 =  6, 4 x 2 =  8, 5 x 2 = 10, 6 x 2 = 12, 7 x 2 = 14, 8 x 2 = 16, 9 x 2 = 18,
2 x 3 =  6, 3 x 3 =  9, 4 x 3 = 12, 5 x 3 = 15, 6 x 3 = 18, 7 x 3 = 21, 8 x 3 = 24, 9 x 3 = 27,
2 x 4 =  8, 3 x 4 = 12, 4 x 4 = 16, 5 x 4 = 20, 6 x 4 = 24, 7 x 4 = 28, 8 x 4 = 32, 9 x 4 = 36,
2 x 5 = 10, 3 x 5 = 15, 4 x 5 = 20, 5 x 5 = 25, 6 x 5 = 30, 7 x 5 = 35, 8 x 5 = 40, 9 x 5 = 45,
2 x 6 = 12, 3 x 6 = 18, 4 x 6 = 24, 5 x 6 = 30, 6 x 6 = 36, 7 x 6 = 42, 8 x 6 = 48, 9 x 6 = 54,
2 x 7 = 14, 3 x 7 = 21, 4 x 7 = 28, 5 x 7 = 35, 6 x 7 = 42, 7 x 7 = 49, 8 x 7 = 56, 9 x 7 = 63,
2 x 8 = 16, 3 x 8 = 24, 4 x 8 = 32, 5 x 8 = 40, 6 x 8 = 48, 7 x 8 = 56, 8 x 8 = 64, 9 x 8 = 72,
2 x 9 = 18, 3 x 9 = 27, 4 x 9 = 36, 5 x 9 = 45, 6 x 9 = 54, 7 x 9 = 63, 8 x 9 = 72, 9 x 9 = 81,

In [65]:
for i in range(2,10):
  print(f'# {i}단 ', end=' ')
# print()  # '\n'
print('\n'+'-'*60)

for i in range(1,10):
  for k in range(2,10):
    print(f'{k}x{i}={i*k:>2}', end=' ')
  print()

# 2단  # 3단  # 4단  # 5단  # 6단  # 7단  # 8단  # 9단
------------------------------------------------------------
2x1= 2 3x1= 3 4x1= 4 5x1= 5 6x1= 6 7x1= 7 8x1= 8 9x1= 9
2x2= 4 3x2= 6 4x2= 8 5x2=10 6x2=12 7x2=14 8x2=16 9x2=18
2x3= 6 3x3= 9 4x3=12 5x3=15 6x3=18 7x3=21 8x3=24 9x3=27
2x4= 8 3x4=12 4x4=16 5x4=20 6x4=24 7x4=28 8x4=32 9x4=36
2x5=10 3x5=15 4x5=20 5x5=25 6x5=30 7x5=35 8x5=40 9x5=45
2x6=12 3x6=18 4x6=24 5x6=30 6x6=36 7x6=42 8x6=48 9x6=54
2x7=14 3x7=21 4x7=28 5x7=35 6x7=42 7x7=49 8x7=56 9x7=63
2x8=16 3x8=24 4x8=32 5x8=40 6x8=48 7x8=56 8x8=64 9x8=72
2x9=18 3x9=27 4x9=36 5x9=45 6x9=54 7x9=63 8x9=72 9x9=81

In [96]:
import random
print(random.randint(1,11))
print(random.randrange(1,10,2))
print(random.random())
#print(random.shuffle(x))

a = [1,2,3,4,5,6,7,8,9]
print(a)
random.shuffle(a)
print(a)
print(random.choice(a))

7
7
0.04504100902104524
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 9, 4, 5, 8, 6, 1, 2, 3]
8

In [146]:
import random


for i in range(5):
    첫번째 = random.randint(1,6)
    두번째 = random.randint(1,6)
    print("%d번째" %(i+1))
    print("주사위결과:첫번째[%d],두번째[%d]" %(첫번째, 두번째))

    if 첫번째 > 두번째:
        print("첫번째 승리!")
    elif 두번째 > 첫번째:
        print("두번째 승리!")
    elif 첫번째 == 두번째 :
        print("무승부")
    print("-" * 20)

1번째
주사위결과:첫번째[6],두번째[5]
첫번째 승리!
--------------------
2번째
주사위결과:첫번째[2],두번째[4]
두번째 승리!
--------------------
3번째
주사위결과:첫번째[4],두번째[5]
두번째 승리!
--------------------
4번째
주사위결과:첫번째[5],두번째[2]
첫번째 승리!
--------------------
5번째
주사위결과:첫번째[4],두번째[5]
두번째 승리!
--------------------

In [143]:
print('주사위 던지기 게임입니다.')
a=0
b=0


for i in range(1,6):
  print('-'*2,i,'번째 시도','-'*10)
  a=random.randint(1,6)
  b=random.randint(1,6)
  print(f'주사위 결과: 첫번째[{a}] 두번째[{b}]')
  if a > b:
    print('첫번째 주사위가 이겼습니다.')
  elif a == b:
    print('비겼습니다.')
  else:
    print('두번째 주사위가 이겼습니다.')
  print()

주사위 던지기 게임입니다.
-- 1 번째 시도 ----------
주사위 결과: 첫번째[6] 두번째[4]
첫번째 주사위가 이겼습니다.

-- 2 번째 시도 ----------
주사위 결과: 첫번째[4] 두번째[3]
첫번째 주사위가 이겼습니다.

-- 3 번째 시도 ----------
주사위 결과: 첫번째[4] 두번째[1]
첫번째 주사위가 이겼습니다.

-- 4 번째 시도 ----------
주사위 결과: 첫번째[6] 두번째[4]
첫번째 주사위가 이겼습니다.

-- 5 번째 시도 ----------
주사위 결과: 첫번째[5] 두번째[6]
두번째 주사위가 이겼습니다.

In [ ]:
import random


for i in range(5):
    첫번째 = random.randint(1,6)
    두번째 = random.randint(1,6)
    print("%d번째" %(i+1))
    print("주사위결과:첫번째[%d],두번째[%d]" %(첫번째, 두번째))

    if 첫번째 > 두번째:
        print("첫번째 승리!")
    elif 두번째 > 첫번째:
        print("두번째 승리!")
    elif 첫번째 == 두번째 :
        print("무승부")
    print("-" * 20)

In [158]:
import random

d1,d2,d3,d4,d5,d6 = 0,0,0,0,0,0
for i in range(100):
  num=random.randint(1,6)
  if num == 1:d1 +=1
  if num == 2:d2 +=1
  if num == 3:d3 +=1
  if num == 4:d4 +=1
  if num == 5:d5 +=1
  if num == 6:d6 +=1
print(f'주사위 숫자별 갯수 : d1[{d1}],d2[{d2}],d3[{d3}],d4[{d4}],d5[{d5}],d6[{d6}]')

주사위 숫자별 갯수 : d1[17],d2[18],d3[11],d4[14],d5[17],d6[23]

In [161]:
import random

dice = [0,0,0,0,0,0]
for i in range(100):
  num = random.randint(1, 6)
  dice[num-1] = dice[num-1] + 1
 #  print(f'{i+1}회 시도 - 나온 수({num}), 주사위:{dice}')

print(f'주사위 숫자의 나온 횟수: {dice}')
print(f'가장 큰 횟수: {max(dice)}의 주사위 눈금은: {dice.index( max(dice) )+1} ')

주사위 숫자의 나온 횟수: [14, 18, 13, 22, 13, 20]
가장 큰 횟수: 22의 주사위 눈금은: 4

In [183]:
a=0

while(True):
  a=a+1
  print(f'"나무를 {a}번 쳤습니다."')
  if(a ==10):
    print("나무가 넘어갔습니다.")
    break

"나무를 1번 쳤습니다."
"나무를 2번 쳤습니다."
"나무를 3번 쳤습니다."
"나무를 4번 쳤습니다."
"나무를 5번 쳤습니다."
"나무를 6번 쳤습니다."
"나무를 7번 쳤습니다."
"나무를 8번 쳤습니다."
"나무를 9번 쳤습니다."
"나무를 10번 쳤습니다."
나무가 넘어갔습니다.

In [179]:
treeHit = 0
while treeHit < 10:
    treeHit += 1
    print(f'나무를 {treeHit}번 찍었습니다.')
print('나무 넘어 갑니다~')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어 갑니다~

In [189]:
prompt = """
    1.추가 2.삭제 3.수정 4.종료
    번호를 입력해 주세요"""
while num != '4':
    num=input(prompt)

    1.추가 2.삭제 3.수정 4.종료
    번호를 입력해 주세요1

    1.추가 2.삭제 3.수정 4.종료
    번호를 입력해 주세요1

    1.추가 2.삭제 3.수정 4.종료
    번호를 입력해 주세요2

    1.추가 2.삭제 3.수정 4.종료
    번호를 입력해 주세요4

In [190]:
# 조건에 맞으면 프로그램 빠져 나오기
prompt = """
    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: """
num = ''
while num != '4':
    num = input(prompt)
print('program finish!')

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 1

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 3

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 4
program finish!

In [191]:
# 무한반복 코드 이용하는 방법
prompt = """
    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: """
num = ''
while True:
    num = input(prompt)
    if num == '4': break
print('program finish!')

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 3

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 4
program finish!

In [197]:
#커피 주문 프로그램  반복문 이용해서 거스름돈 > 0까지 돈을 넣으라고 반복하기
coffee1_price = 2500
coffee2_price = 3000
coffee3_price = 3000
menu = f'''[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  {coffee1_price}원
- 카페라떼:    {coffee2_price}원
- 카푸치노:    {coffee3_price}원
------------------------
원하시는 커피종류와 잔수를 입력하세요!
'''
print(menu)
coffee1 = int(input('아메리카노 몇잔: '))
coffee2 = int(input('카페라떼   몇잔: '))
coffee3 = int(input('카푸치노   몇잔: '))
total = coffee1_price*coffee1 + coffee2_price*coffee2 + coffee3_price*coffee3
print(f'주문하신 총 가격은 {total}원 입니다.')

money = 0
while total > money:
    print(f'{total - money}원이 부족합니다. 돈을 더 넣어주세요.')
    new_money = int(input('돈을 입력해주세요: '))
    money += new_money
print(f'거스름돈은 {money - total}원 입니다. 커피 맛있게 드세요~')

[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  2500원
- 카페라떼:    3000원
- 카푸치노:    3000원
------------------------
원하시는 커피종류와 잔수를 입력하세요!

아메리카노 몇잔: 3
카페라떼   몇잔: 3
카푸치노   몇잔: 3
주문하신 총 가격은 25500원 입니다.
25500원이 부족합니다. 돈을 더 넣어주세요.
돈을 입력해주세요: 20000
5500원이 부족합니다. 돈을 더 넣어주세요.
돈을 입력해주세요: 5000
500원이 부족합니다. 돈을 더 넣어주세요.
돈을 입력해주세요: 499
1원이 부족합니다. 돈을 더 넣어주세요.
돈을 입력해주세요: 1
거스름돈은 0원 입니다. 커피 맛있게 드세요~

In [ ]:
coffee1_price = 2500
coffee2_price = 3000
coffee3_price = 3000
menu = f'''[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  {coffee1_price}원
- 카페라떼:    {coffee2_price}원
- 카푸치노:    {coffee3_price}원
------------------------
원하시는 커피종류와 잔수를 입력하세요!
'''
print(menu)
coffee1 = int(input('아메리카노 몇 잔: '))
coffee2 = int(input('카페라떼   몇 잔: '))
coffee3 = int(input('카푸치노   몇 잔: '))
total = coffee1_price * coffee1 + coffee2_price * coffee2 + coffee3_price * coffee3
print(f'주문하신 총 가격은 {total}원 입니다.')

while True:
    money = int(input('돈을 입력해주세요: '))
    change = total - money
    total = change
    if change > 0:
        print(f'입력한 금액이 부족합니다.{change}원을 더 넣어주세요.')
    else:
        print(f'거스름돈은 {abs(change)}원 입니다. 커피 맛있게 드세요~')
        break